li {
  float: left;
  width: 19px;
  height: 19px;
  border-radius: 30%;
  /*border: 1px solid #ccc;*/
}

.grid {
  background: url('../assets/snake-background.jpg');
  background-size: contain;
  border-radius: 3px;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

.points-label {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.game-over,
.new-game {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 200px;
  margin: 0 auto;
  width: 100px;
  background: black;
  color: white;
  padding: 10px;
}

.new-game {
  top: 275px;
}

.new-game:hover {
  cursor: pointer;
  background: green;
}
