li {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: white;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

.points-label {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}
