li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  /*border: 1px solid #ccc;*/
}

.grid {
  background: url('../assets/snake-background.jpg');
  background-size: contain;
  border-radius: 3px;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

.points-label {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}
